.card-container {
  padding: 10px;
  width: 90%;
  margin: 15px auto;
}

.error-container{
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.errmsg {
  color: firebrick;
  font-size: 15px;
}
